<body id="devise-body">
 <div class="row">
  <div class="col s12">

    <div class="card">
      <div class="card-content">
      <div id="header-image">
            <%= image_tag("quora.png", size: "200x140") %>
</div>
        <p style="font-size: 24px;">A place to share knowledge and better understand the world</p>
      </div>
      <div class="card-tabs">
        <ul class="tabs tabs-fixed-width">
          <li class="tab"><a href="#test4"><h4>Sign Up</h4></a></li>
          <li class="tab"><a class="active" href="#test5"><h4>Log In</h4></a></li>
        </ul>
      </div>
      <div class="card-content grey lighten-4">
        <div id="test4">
          <%= render 'regForm' %>
        </div>
        <div id="test5">    
          <%= render 'form' %>
          <%= render "devise/shared/links" %>

        </div>
      </div>
    </div>

  </div>
</div>
</body>







