#devise-body{
	height:100vh;
	display: flex;
	flex-direction: column;
	justify-content: space around;
	padding: 0;
	margin: 0;
	background-image :image-url('landing_pic.jpg');
	backgroung-size: 1646px 100vh;
	    background-repeat: no-repeat;

}


	#header-image{
		    text-align: center;
	}
	







