// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#ques{
	width: 50vw;
	margin: auto;
	background-color: white;
	.field .input{
		padding: 12px;
		width: 100%;
	}
}